PROJECT_ID=enares-2024-crs04
BQ_LOCATION=US
BQ_RAW_DATASET=enares2024_crs04_raw
BQ_CLEANED_DATASET=enares2024_crs04_cleaned
BQ_ANALYTICAL_DATASET=enares2024_crs04_analytical
BQ_OUTPUTS_DATASET=enares2024_crs04_outputs
BQ_PUBLISHED_DATASET=enares2024_crs04_published
BQ_OPS_DATASET=enares2024_crs04_ops